@CHARSET "UTF-8";

body {
    font-family: Times New Roman,Times,serif !important;
    
}


#logo {
	position: absolute;
	top: 30px;
	left: 50px; 
	height: 200px;
	width: 400px;
	background-size: auto;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
}
#login
{
	position: relative; 
	padding-top: 10px;
	padding-right: 20px;
	text-align: right;
	
}
#login a{
	font-size: 18px;
	font-family: serif;
	color: white;
}
#header {
	background-image: url('../images/header.png');
	border-bottom-style: groove;
	border-bottom-width: 2px;
	position: relative; 
	width: 1200px;
	height: 150px; 
	margin-top: 30px;
}

#navigation ul li {
	position: relative;
	font-family: sans-serif;
	color: blue;
	left: 110px;
	display: inline;
	padding: 14px 10px;
}
#navigation a{
	color:blue;
}
	
#main{
	position:relative;
	position: center;
	with: 1200px;
	height: 1100px;


}
h3{
	font-size: 20px;
	color: white;
	text-align: left;
	
}
#footer {
	background-image: url('../images/footer.png');
    margin: 0 auto 40px;
    width: 1200px;
    height: 200px;
    display: block;
    list-style: none outside none;
}
#footer li.column {
    float: left;
    margin-right: 10px;
    width: 180px;
}

#footer li.column li,a{
	text-align: left;
	list-style: none outside none;
	color: white;
	font-size: 16px;
}



#facebook{
	float: left;
	background-image: url('../images/facebook.png');	
	width:28px;
	height:28px;
	border:0px,;

}
#twitter{
	float:left;
	background-image: url('../images/twitter.png');	
	width:28px;
	height:28px;
	border:0px,;

}




